<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"  class="active"><a href="/grade">Grade</a>
                    </li>
                    <li role="presentation"><a href="/lista">Lista</a>
                    </li>
                    <li role="presentation"><a href="/eventos">Eventos</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">calendario.ufabc.me</h3>
        </div>



  <div class="row">




<h1>index!</h1>








<a class="text-center">Como adicionar ao android/iphone/outlook/gmail?</a>


{% endblock %}
